<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ userData.pseudo }}</h4>
                <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Affichez les informations de l'utilisateur ici -->
                <p>One Stop Solution for all CS problems</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>

