@import "../../styles";

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: $blue;
  color: #fff;
  text-align: center;
}

.title {
  margin-left: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.toolbar img {
  margin-right: 10px;
}

.toolbar button {
  margin-left: 10px;
  height: fit-content;
}

.btn-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn-logout {
  background-color: #e41010;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background-color: $white;
  }
}

.btn-login {
  background-color: #e41010;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background-color: $white;
  }
}