<div class="chat-container" #chatContainer>
    <div *ngFor="let message of messages" class="message-container">
        <ng-container *ngIf="message.type === 'incoming'; else outgoing">
            <div class="incoming">
                <div class="user-info-wrapper">
                    <img class="picture-img" [src]="message.pictureUser" alt="Photo de profil" width="25px"
                        height="25px" />
                    <div class="pseudo" (click)="openPopup(message.userId)">{{ message.pseudo }}</div>
                </div>
                <img *ngIf="message.pictureMessage != ''" class="image" alt="image" [src]="message.pictureMessage" />
                <div *ngIf="message.text != ''" class="message">{{ message.text }}</div>
                <div class="date">{{ message.date }}</div>
            </div>
        </ng-container>
        <ng-template #outgoing>
            <div class="outgoing">
                <div class="user-info-wrapper">
                    <img class="picture-img" [src]="message.pictureUser" alt="Photo de profil" width="25px"
                        height="25px" />
                    <div class="pseudo" (click)="openPopup(message.userId)">{{ message.pseudo }}</div>
                </div>
                <img *ngIf="message.pictureMessage != ''" class="image" alt="image" [src]="message.pictureMessage" />
                <div *ngIf="message.text != ''" class="message">{{ message.text }}</div>
                <div class="wrapper-manage"> <button class="delete" (click)="deleteMessage(message.messageId)">SUPPRIMER</button><div  class="date">{{ message.date }}</div></div>
            </div>
        </ng-template>
    </div>

</div>

<div class="input-container-main">
    <div class="inputfile-chat">

        <label for="fileInput2" class="custom-label">
            <div class="inputfile-icone">
                <mat-icon *ngIf="!selectedFileName2 && !showMessagePreview"
                    class="camera-icon icone-add">camera_alt</mat-icon>
                <!-- <div class="image-preview" height="50px" width="50px"> -->
                    <img class="image-preview" height="54px" width="54px" *ngIf="selectedFileName2"
                        [src]="selectedImage2" alt="Aperçu de l'image sélectionnée" />
                <!-- </div> -->
                <div *ngIf="showMessagePreview" class="message-preview">
                    <div class="message-content">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </label>

        <input id="fileInput2" class="input-text-message" type="file" accept="image/*,.gif" style="display: none;"
            (change)="onFileSelected2($event)">
    </div>
    <div class="input-container">
        <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
            placeholder="Saisissez votre message..." />

    </div>
    <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*" id="fileInput"  /> -->
</div>
<div class="btn-send-wrapper">
    <button *ngIf="selectedImage2" type="button" class="btn btn-danger" (click)="deleteImage2()">Supprimer</button>
    <button class="btn-send" (click)="sendMessage()">Envoyer</button>
</div>
<!-- <div class="modal-footer" *ngIf="selectedImage2">
    <button *ngIf="selectedImage2" type="button" class="btn btn-danger" (click)="deleteImage2()">Supprimer</button>
</div> -->


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img class="picture-img-modal" [src]="pictureUser" alt="Photo de profil" width="30px" height="30px" />
                <h4 class="modal-title">{{userProfileData.pseudo}}</h4>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="userProfileData.userId === userId; else differentContent">
                    <div class="modal-body-span">Changer votre photo de profil</div>
                    <div class="inputfile">
                        <label for="fileInput" class="custom-label">
                            <div class="inputfile">
                                <mat-icon class="camera-icon">camera_alt</mat-icon>
                                <span *ngIf="!selectedFileName">Votre fichier</span>
                                <span *ngIf="selectedFileName">{{ selectedFileName }}</span>
                            </div>
                        </label>
                        <input id="fileInput" type="file" accept="image/*,.gif" style="display: none;"
                            (change)="onFileSelected($event)">
                    </div>



                </ng-container>
                <ng-template #differentContent>
                    <p>Ajouter en Ami</p>
                </ng-template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">Fermer</button>
                <button type="button" class="btn btn-primary" (click)="updateProfile()">Enregistrer</button>
            </div>
        </div>
    </div>
</div>