@import '../../styles.scss';

.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: $white;
  width: 100%;
  min-height: 20vh;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: auto;
}

.incoming {
  background-color: #2726261c;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

.outgoing {
  background-color: $blue;
  color: #fff;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

.input-container-main {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  width: 95%;
  // padding: 10px;
  padding-top: 0;
  height: auto;
}

.input-text-message{
margin: 0;

}

.inputfile-chat {
  //  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 42px;
}

.inputfile {
  display: flex;
  flex-direction: row;
  width: auto;
}

.btn-send-wrapper{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
margin-top: 1%;
}

.btn-send {
  background-color:$blue;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
 margin: 0 auto;
  &:hover {
    background: #1c8f39
  }
}

input[type="text"] {
  width: 100%;
  height: 38px;
  // padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  // margin-bottom: 2%;
}

button {
  background-color: $blue;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  margin-bottom: 1%;
}

.pseudo {
  display: flex;
  width: fit-content;
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.5%;
  margin-left: 10%;
  &:hover {
    cursor: pointer;
    background-color: $blue;
    color: #fff;
    border: solid 1px $blue;
  }
}

// .pseudo:hover {
//   cursor: pointer;
//   background-color: #007bff;
//   color: #fff;
//   border: solid 1px #007bff;
// }

.picture-img {
  border-radius: 50%;
  margin-left: 10%;
}

.message {
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #000000;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.image {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: #000000;
  font-size: 1rem;
  // padding: 1%;
  margin-bottom: 1px;
  width: 100px;
  height: 100px;
}

.date {
  display: flex;
  justify-content: right;
  font-size: 0.8rem;
  margin-top: 1%;
}


.modal-dialog {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 40%;
  margin: 0 auto;
  margin-top: 10%;
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1.8rem;
  padding: 2%;
  // border-bottom: solid 1px rgb(16, 110, 232);;
  margin: 0;
  // text-align: center;
}

.picture-img-modal {
  border-radius: 50%;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px $blue;
  background-color: #007bff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.modal-body {
  padding: 20px;
  // border-top: solid 1px black;
}

.modal-body-span {
  padding-bottom: 2%;
  // text-align: center;
}

.modal-footer {
  justify-content: space-evenly;
  width: auto;
  padding: 10px 20px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  margin-right: 3%;
}

.btn-primary {
  background-color: $blue;
  color: #fff;
  border: none;
}

// .hidden-input {
//   display: none;
// }

.custom-label {
  display: flex;
  background-color: #f0f0f0;
  // padding: 10px;
  margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.message-content{
  background-color: $dark;
}


.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.icone-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}